@import 'colors';

body {
    background: $gray;
    font-family: 'Arial Neue', arial, helvetica, sans-serif;
    font-size: 14px;
}

.employee-card {
    display: inline-block;
    width: 300px;
    border: 5px solid $black;
    background: $white;
    color: $black;
    padding: 15px;
    margin: 10px;

    // Border radius
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.header {
    vertical-align: middle;
    display: inline-block;
    height: 80px;
    width: 100%;
    text-transform: capitalize;

    .avatar {
        width: 80px;
        height: 80px;
        display: inline-block;
        background-color: $purple;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-right: 10px;
        span {
            display: inline-block;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 3.5em;
            line-height: 80px;
        }
    }

    .title {
        display: inline-block;
        width: 68%;
        vertical-align: top;
        margin-top: 1em;
        .name {
            font-size: 1.6em;
            font-weight: bold;
            color: $coolBlack;
        }
        .role {
            display: inline-block;
            margin-left: 15px;
            font-size: 1.1em;
            color: $gray;
            font-weight: bold;
        }
    }
}

.body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Light", Helvetica, Arial, sans-serif;
    .chart {
        display: inline-block;
        position: relative;
        color: $gray;
        div {
            position: absolute;
            width: 100%;
            top: 0;
            margin-top: 4.5em;
            text-align: center;
            text-transform: capitalize;
        }
    }

    .stats {
        display: inline-block;
        width: 35%;
        text-align: right;
        color: $lightGray;
        text-transform: lowercase;
        line-height: .9em;
        span {
            font-weight: bold;
            font-size: 1.3em;
        }
        .impressions {
            color: $orange;
        }
        .conversions {
            display: inline-block;
            color: $blue;
            padding-top: 7px;
        }
        .revenue {
            display: inline-block;
            color: $green;
            font-size: 1.5em;
            padding-top: 15px;
        }
    }
}
