$black:         #000;
$coolBlack:     #2B3E4F;
$white:         #fff;
$gray:          #7F8C8D;
$lightGray:     #CCD1D4;
$orange:        #E78100;
$blue:          #4D95C5;
$green:         #2CA84B;
$purple:        #9B59B6;